<div>
	<h2>We can help you find the the right Insurance Plan</h2>
	<%= link_to	"Get Started", controller: "main", action: "questions_1", class: "btn" %>
	<h3>Have you saved your plans?</h3>
	<%= link_to	"Sign In", new_user_session_path %>
</div>

   