
<div class="text-center">
	<h1 class= "active top-landing-header">&nbsphealth</h1>
	<h1 class="bottom-landing-header blue">insured</h1>
</div>
<div class="text-center start">
		<%= link_to "Get Started", {controller: "main", action: "questions_1", id: @answer_set.id}, {class: "btn btn-active btn-lg"}%>
</div>
 	
<!--  	    <h3>Have you saved your plans?</h3>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-default" %>  -->
  	