<div>
	<div class="intro">
    <h1 class="orange-header" style="font-weight: light">health</h1>
    <h1 class="blue-header">insured</h1> 
  </div>  
    <%= link_to "Get Started", controller: "main", action: "questions_1", class: "btn btn-default" %>
    <h3>Have you saved your plans?</h3>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-default" %>
</div>

   