<div>
    Your Recommendations
</div>
<div class="row">
    <div class="col-md-5">
        Summary of the Plan
    </div>
    <div class="col-md-7" style="border: 1px solid black">
        The details of the plan go here
        <table>
            <tr>
                <td>Name: HealthMaster</td>
            </tr>
            <tr>
                <td>Savings: $475 annually</td>
            </tr>
        </table>
    </div>
</div>

   