

.intro {
  text-align: center;
}

 .orange {
	color: #F49F24;
}

 .blue   {
	color: #19818D;
}

.top-landing-header, h1 {
	font-size: 6em;
	margin: 0px;
	margin-bottom: 2px;
	font-weight: 100;
}

.bottom-landing-header, h1 {
	font-size: 6em;
	margin: 0px;
	margin-top: -40px;
	margin-bottom: 2px;
	font-weight: 900;
}

@media(min-width:800px){

		.top-landing-header, h1 {
		font-size: 12em;
		margin: 0px;
		margin-bottom: 2px;
		font-weight: 100;
	}

	.bottom-landing-header, h1 {
		font-size: 12em;
		margin: 0px;
		margin-top: -70px;
		margin-bottom: 2px;
		font-weight: 900;
	}

}

@media(max-width:800px){
  #container {
    width: 100%;
  }
}